div {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;

}

@media screen and (max-width: 800px) {
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}